main {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_index {
    width: 200px;
    height: 200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

.login_input {
    margin-bottom: 5px;
    border: 0.5px solid gray;
}

.login_btn {
    background-color: skyblue;
    border: none;
    margin-top: 6px;
}